# A .env example file, copy it to .env and modify to fit your need.
# Do make sure that the .env file in the same dir with your Justfile
# Create soft link on Windows by cmd:
#   gsudo mklink /d "D:\Data\iWork\.env" "D:\Data\iWork\termix-nu\.env"
# Create soft link on Windows by pwsh:
#   gsudo New-Item -ItemType SymbolicLink -Path "D:\Data\iWork\.env" -Target "D:\Data\iWork\termix-nu\.env"

# The parent directory for nu scripts
TERMIX_DIR='/Users/name/terminus/termix-nu'
# 临时二开仓库存放目录
REDEV_REPO_PATH='/Users/terminus/redev-repos'
# For dir-batch-exec and git-batch-exec script
SHELL_TO_RUN_CMD='bash'
