# A .env example file, copy it to .env and modify to fit your need.
# Do make sure that the .env file in the same dir with your Justfile

# The parent directory for nu scripts
TERMIX_DIR='/Users/name/terminus/termix-nu'
# For dir-batch-exec and git-batch-exec script
SHELL_TO_RUN_CMD='bash'
