# A .env example file, copy it to .env and modify to fit your need.
# Do make sure that the .env file in the same dir with your Justfile
# Create soft link on Windows by cmd:
#   gsudo mklink /d "D:\Data\iWork\.env" "D:\Data\iWork\termix-nu\.env"
# Create soft link on Windows by pwsh:
#   gsudo New-Item -ItemType SymbolicLink -Path "D:\Data\iWork\.env" -Target "D:\Data\iWork\termix-nu\.env"

# The parent directory for nu scripts
TERMIX_DIR='/Users/name/terminus/termix-nu'
# 临时二开仓库存放目录
REDEV_REPO_PATH='/Users/terminus/redev-repos'
# 当前要打的后端版本号标签, 如果命令行里面传入为空则取该值
REDEV_CURRENT_TAG='v2.2.x'
# 待比较差异的上一个标签完整名称
REDEV_PREV_TAG='v2.2.0.12-2021.09.30'
# For dir-batch-exec and git-batch-exec script
SHELL_TO_RUN_CMD='bash'
# EMP emp_u_c_local 对应的 Cookie Value
EMP_UC_COOKIE='xx.yy.zz'
# EMP 工时填报查询OuterId参数配置
EMP_OUTER_ID='5678999'
# EMP 工时填报统计输出标题
EMP_WORKING_HOUR_TITLE='电商前端本周工时填报'
